 .lux { 
    width: 300px;
    border: 1px solid #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
   }
    th {
    background: #a52a2a;
    color: white; 
    padding: 4px;
   }
    td { 
    border-bottom: 1px solid #A52A2A;
    text-align: center;
    padding: 4px;
   }
   

  td:nth-child(1){
    text-align: left;
  }
  
   tr:nth-child(even){
    background: #FFFFF0;
   }

  
 tr:nth-child(odd){
    background: #FFF8DC;
   }
   

