*{
	font-size: 26px;
}


.sun, .snow, .blizzard{
	margin-left: 1px; 
	float: left; 
}


.sun:hover, .snow:hover, .blizzard:hover{
	box-shadow: 0px 0px 10px black;
}



.title1{
	background-color: #0097B9;
	width: 130px;
	height: 40px;
	line-height: 40px;
	margin-top: 0px;
	text-align: center;
	color: white;
}

.temp1{
	text-align: center;
	width: 130px;
	margin-top: -5px;
	margin-bottom: 10px;  
	font-size: 30px;
}

