.my_table{
	width: 100%;
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	height: 30px;	
	background-color: #666666 ;
	border: 1px solid black ;
	color: white;
}

td{
	padding: 10px;
	border: 1px solid black;
	text-align: left;

}
td:nth-child(odd){
	background: #7cded5;
}
td:nth-child(even){
	background: #fffd7a;
}
td:nth-child(3){
	text-align: center;
}

