body{
	height: 700px;
background: repeating-linear-gradient(45deg,white, #FFFFFF 21px,#F89C2E 23px);
}

.border{
	margin-top: 20px;
	margin-left: 20px;
	width: 350px;
	border-radius: 4px;
	background-color: #EDECDE;
	border: 1px solid #666666;
	box-shadow:
		0 0 0 7px rgba(97, 203, 179, 0.5),
		0 0 0 9px rgba(0, 76, 59, 0.7);
}

.head1{
	position: relative;
    background: linear-gradient(#FFD800,#FFC900,#FFBA00);
    width: 350px;
	height: 30px;
	padding-bottom: 5px;
	margin-top: 0px;
	border-radius: 5px 5px 0 0;
	font-family: Arial;
	font-weight: lighter;
}
.head1:after{
	  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: #FFBA00 rgba(0, 0, 0, 0)rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  top: 100%;
  left: 5%;
  margin-left: -15px;

}

