.main{
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  background: #E1E3B8;
  z-index: -2;
  font: bold 14px sans-serif;
}

.title{
  width: 140px;
  height: 16px;
  margin-left: 10px;
  color: #B98F5C;
  font-size: 16px;
}

img{
  position: fixed;
  margin-top: -60px;
  z-index: -1;
}

.allRadio{
  margin-left: 20%;
}

li{
  list-style: none;
  margin-bottom: 20px;
}

input:last-child{
  color: white;
  background-color: #B98F5C;
  border: 1px solid white;
}